<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <main>
        <img src="images/404.png" alt="Not found image" width="400">
    </main>
    
</body>
</html>